select.version-switcher {
  display: block;
  width: calc(100% - 2 * var(--sidebar-item-spacing-horizontal, 1rem));
  margin: 0.5rem var(--sidebar-item-spacing-horizontal, 1rem) 1rem;
  padding: 0.25rem 0.5rem;
  font-size: var(--sidebar-item-font-size, 0.875rem);
  color: var(--color-foreground-primary);
  background: var(--color-background-secondary);
  border: 1px solid var(--color-sidebar-search-border);
  border-radius: 0.25rem;
}
